In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df= pd.read_csv('/content/drive/My Drive/Real estate.csv')
df_linear_regression=df.drop(["No","X1 transaction date"],axis=1)

In [4]:
df_linear_regression.head()

   X2 house age  ...  Y house price of unit area
0          32.0  ...                        37.9
1          19.5  ...                        42.2
2          13.3  ...                        47.3
3          13.3  ...                        54.8
4           5.0  ...                        43.1

[5 rows x 6 columns]

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_linear_regression.drop("Y house price of unit area",axis=1), df_linear_regression['Y house price of unit area'], test_size=0.2)
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(331, 5) (331,)
(83, 5) (83,)

Dividing the dataset into train and test sets.

In [10]:
#Calling the linear regression model.
model= LinearRegression()
model.fit(X_train, y_train)
y_pred=model.predict(X_test)

In [16]:
r_sq = model.score(X_train, y_train)
print('Intercept for the model is: ', model.intercept_)
print('Coefficients of the models are: ', model.coef_)
print('Coefficient of Determination(R-Squared value):', r_sq)

Intercept for the model is:  420.1355255777209
Coefficients of the models are:  [-2.59995633e-01 -5.09076156e-03  1.00332858e+00  2.21198900e+02
 -4.85416649e+01]
Coefficient of Determination(R-Squared value): 0.5543655114504165

In [11]:
from sklearn.metrics import mean_squared_error 
print("The mean squared error ", mean_squared_error(y_test,y_pred))

74.76056810999971